    body {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

/* Toggle Styles */

#viewport {
  padding-left: 250px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#content {
  width: 100%;
  position: relative;
  margin-right: 0;
}

/* Sidebar Styles */

#sidebar {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 250px;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #37474F;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#sidebar header {
  background-color: #263238;
  font-size: 20px;
  line-height: 52px;
  text-align: center;
}

#sidebar header a {
  color: #fff;
  display: block;
  text-decoration: none;
}

#sidebar header a:hover {
  color: #fff;
}

#sidebar .nav{
  
}

#sidebar .nav a{
  background: none;
  border-bottom: 1px solid #455A64;
  color: #CFD8DC;
  font-size: 14px;
  padding: 16px 24px;
  color:white;
}

#sidebar .nav a:hover{
  background: none;
  color: #ECEFF1;
}

#sidebar .nav a i{
  margin-right: 16px;
}

.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top:81px;
  left: 0;
 
  background-color:#007ACC;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 22px;
  color:White;
  display:block;
}

.test{
  width:250px;
 
      padding: 10px;
}

 .test:hover {
  color: #f1f1f1;
  -moz-box-shadow: 0 0 10px #ccc;
      -webkit-box-shadow: 0 0 10px #ccc;
      box-shadow: 0 0 10px #ccc;
}

.dropdown-menu a {
  border-bottom: 1px solid #ccc;
}
.dropdown-menu a:last-child {
  border-bottom: none;
}
a#navbarDropdown{
  color: white;
}
.tbl-thin{

}
.table tr {
  padding: 5px;
}
th, td{
  padding: 2px;
}

.icon-wrapper{
    position:relative;
    float:left;
    margin-top: 5px;
}

*.icon-blue {color: #0088cc}
*.icon-grey {color: grey}
.icon-wrapper i {   
    width:10px;
    height: 10px;
    text-align:center;
    vertical-align:middle;
    color: white;
}
.badge{
    background: red;
    border-radius: 5px;
    width: auto;
    height: auto;
    margin: 0;
    position:absolute;
    top:-6px;
    right:0px;
    font-size: 12px;
    padding:5px;
    color: #fff;
}


/*Multilevel Dropdown*/
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}
.navbar-light .navbar-nav .nav-link {
  color: black;
}

/*Footer*/
.footer{
  bottom:0;
  width:100%;
}